<div class="header">
  <!-- <h3 class="text-muted pull-left">DocDock</h3> -->
  <img src="/assets/docdock-logo.png">
  <ul class="nav nav-pills pull-right">
   

  </ul>
  <div class="cl-10"></div>
  <div class="visible-xs" style="border:1px solid #c1c1c1;margin-bottom:20px"></div>
</div>

